
body{
    margin: 6% 0 6% 6%;
}
.btn-primary{
    background-color: #E68843;
    border-color: #E68843;
    margin: 20px 0 20px 0 ;
    font-weight: bold;
   }
   
   .btn-primary:hover{
   background-color: rgb(250, 178, 45);
   border-color: rgb(250, 178, 45);
   }
.First-table{
    margin-inline: auto;
    margin-top: 20px;
}
.form2-table{
    margin-top: 5%;
}
th,td{
    border: 2px solid #000;
}
.table-head{
    text-align: center;
    font-size: 17px;
    padding: 9px;
    background-color: #EDEDED;
}
.fixed-width{
    width: 120px;
    padding: 8px;
    font-weight: 600;
}
.flied_leng{
    width: 309px;
    padding: 2px 2px 3px 6px;
    border: 2px solid black;
}
.samePad1{
    padding: 10px;
    text-align: center;
    font-weight: 600;
}
.samePad2{
    padding:6px 6px 6px 10px;
    
}

.same-textarea{
    padding:15px;
    
}
.same-textarea textarea{
    width: 100%;
    resize: none;
    font-size: 13px;
    border: 2px solid #000;
}
.th-change{
    text-align: center;
    background-color: #ffffff;
    padding: 11px;
    font-size: 15px;
  }
  label {
    display: inline-block !important;
    max-width: 100% !important;
    margin-bottom: 5px !important;
    font-weight: 100;
}
.samePad3{
    padding: 4px 0px 4px 13px;
    
  }
  .wide-input {
    width: 99%;
    padding: 0px;
    border: 2px solid #878181;
  }
.wide-input2{
    width: 50%;
    margin-left: 14px;
    border: 2px solid #878181;
}
.select2-style{
    width: 165px;
    margin-left: 22px;
    padding: 4px;
    border: 2px solid #878181;
}
 .empty-cell{
    padding: 20px;
    border-left: none;
    border-right: none;
 } 
  .same-border{
    border: 2px solid #878181;
  }
  .btn-div{
    float: right;
    margin: 10px;
}
.btn-div button{
    padding: 4px 36px 5px;
     margin-left: 31px;
     border: 2px solid #000;
}
.version-heading{
    text-align: right;
    padding: 8px;
    background-color: #CBCBCB;
    color: #000;
    font-weight: 100;
    font-size: 22px;
}
  
  /* Bootstrap Css Start from here */
  .nav-tabs>li>a {
    background-color: #CBCBCB;
    border: 2px solid #000;
    border-bottom: transparent
    
  }
  a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}
  .nav-tabs {
    border-bottom: 1px solid #141313;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    border-bottom-color: transparent;
}
a:hover{
border-bottom: transparent;
}

/* Second form Css Start from here */
.form2-table tr td{
border: none;
}
#form2-select1{
    width: 609px;
    padding: 2px 2px 3px 6px;
    border: 2px solid black;
}
#form2-select2{
    width: 209px;
    padding: 2px 2px 3px 6px;
    border: 2px solid black;
}
.row1-pad{
    padding: 0 26px 0 26px;
}
#form2-input1{
    border: 2px solid #878181;
}
.form2-date-input1{
    width: 207px;
    border: 2px solid #000;
}
.form2-btn-div{
display: inline-flex;
width: 34px;
    padding-left: 75px;
}
.form2-btn-div .btn{
    margin-left: 10px;
}
.row2-pad{
    padding: 0 20px 0 20px;
    font-size: 12px;
}
.form2-row3{
    border: 2px solid #000;
    text-align: center;
}
.form2-row3 td{
    border: 2px solid #000 !important;
    padding: 17px;
}
.form2-btns{
    padding: 0 15px 0 15px;
}

/* Third Form Css Start here */

.form3-table{
    margin-top: 5%;
    width: 114%;
}
.form3-row1{
    font-size: 12px;
    background-color: #CBCBCB;
}
.form3-row1 td{
padding: 15px;
text-align: center;
}
.fix-width{
    width: 120px;
}
.same-Box-inp {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .same-Box-label {
    position: relative;
    cursor: pointer;
    margin-right: 12px;
  }
  
  .same-Box-label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #000000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 6px;
    top: -2px;
    border-radius: 3px;
  }
  .same-Box-span:hover{
    background-color:#FEE79A;
  }
  .same-Box-inp:checked + .same-Box-label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 6px;
    width: 5px;
    height: 9px;
    border: 2px solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  /* Emp Cert App Form Folder Css Start From here */

  .quantiy-col{
    padding: 13px;
    font-size: 15px;
  }
  #emp-cert-textarea{
    border: 2px solid #000;
    width: 100%;
    resize: none;
  }
  .fixed-width2{
    width: 174px;
    padding: 8px;
    font-weight: 600;
    border-right: none;
  }


  /* Emp_Dep_NHI_Enrollment_&_Withdrawal_App_Form style start from here */


  #imageUpload{
    width: 100%;
    height: 80px;
    border: 2px solid #000;
}

.heading4{
    text-align: center;
    font-size: 18px;
    padding: 21px;
    border-right: none;
    font-weight: 600;
    font-family: system-ui;
}


.sp{
    padding: 10px
}
.sw{
  width: 55px;
}
.same_DOB{
    width: 80px;
    padding: 3px;
    border: 2px solid #000;
}
.custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
    border: 2px solid #000;
  }
  .custom-select select {
    display: none;

  }
  
  .custom-select-label:after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .custom-options {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 2px solid #000;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
  }
  .custom-option {
    padding: 5px;
    cursor: pointer;
  }
  .custom-option input[type="checkbox"] {
    margin-right: 5px;
  }
.text-align1{
    text-align: center;
    font-family: system-ui;
    font-weight: 500;
}
.btn-form4 button {
  font-size: 14px;
  border-radius: 100%;
}
.btn-form4{
    float: right;
    margin: 10px;
}
.btn-form4 .btn-primary{
  margin: 3px;
  background-color: #FFAA00 !important;

}
.textarea_4{
  width: 100%;
  resize: none;
  font-size: 22px;
  border: 2px solid #878181;
  color: #b3b2b2;
}
.inp_same{
  width: 100%;
  border: 2px solid #000;
} 
.same_td{
  padding: 30px;
  background-color: #EDEDED;
}
.inside_form{
  width: 100%; 
  background-color: #fff;

}

/* Emp_Change_Personal_info_App_Form style start from here */
.sp_text{
  padding: 10px;
    font-weight: 600;
}
.sp4{
  padding: 8px;
}
.inp_same4{
  width: 100%;
  border: 2px solid #000;
}
.table_6{
  width: 100%;
  margin-inline: auto;
  margin-top: 20px;
}
.flied_leng4{
  width: 100%;
    padding: 2px 2px 3px 6px;
    border: 2px solid black;
}