.addui-Tabs .addui-Tabs-tabHolder {
  display: flex;
}

.addui-Tabs .addui-Tabs-tabHolder .addui-Tabs-tab {
  color: rgba(0, 0, 0, .87);
  cursor: pointer;
  padding: 8px !important;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
}

.addui-Tabs .addui-Tabs-tabHolder .addui-Tabs-tab.addui-Tabs-active {
  border-bottom: 3px solid blue;
  background-color: #b3b3b31a;
}

.addui-Tabs .addui-Tabs-content {
  display: none;
}

.addui-Tabs .addui-Tabs-content.addui-Tabs-active {
  display: block;
}